<form id="msform">
  <fieldset>
    <h2 class="fs-title">Create your account</h2>
      <mat-form-field>
        <mat-label>User</mat-label>
        <input matInput placeholder="User">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
      </mat-form-field>
    <button mat-button class="submit action-button">Sign in</button>
    <p>Already registered?
      <a mat-button href="login">Login</a></p>
  </fieldset>
</form>