<mat-toolbar>
    <h1> <span>Just in Time- JIT Logistic |</span></h1>
    <span class="example-spacer"></span>
    <h1> <span style="margin-left:10px;">{{currentYear}}</span></h1>
    <span class="example-spacer" style="flex: 1 1 auto"></span>
    <a href="https://twitter.com/" target="_blank" mat-icon-button class="example-icon favorite-icon"
      aria-label="Twitter icon">
      <fa-icon [icon]="fabTwitter"></fa-icon>
    </a>
    <a href="https://pt-br.facebook.com/" target="_blank" mat-icon-button class="example-icon" aria-label="Facebook icon">
      <fa-icon [icon]="faFacebook"></fa-icon>
    </a>
    <a href="https://www.instagram.com/" target="_blank" mat-icon-button class="example-icon" aria-label="Instagram icon">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
  </mat-toolbar>